# Angular-cli
/frontend/dist
*.map

# System Files
.DS_Store
Thumbs.db

# sqlite Databases
*.sqlite3

# Yarn
.yarn/
.yarnrc
yarn-error.log

# NPM
node_modules/
npm-debug.log

# misc
.sass-cache/
coverage/

# Local files containing secrets/keys etc.
.env
settings_local.py
environment.ts
