# Angular-cli
/frontend/dist
*.map
.env
.sass-cache/
environment.ts

# System Files
.DS_Store
Thumbs.db

# sqlite Databases
*.sqlite3

# Yarn
.yarn/
.yarnrc
yarn-error.log

# NPM
node_modules/
npm-debug.log

# Django
.pytest_cache
/backend/dist
settings_local.py

# misc
coverage/
