[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

"django-cors-headers" = "==2.1.0"
"django-nose" = "==1.4.4"
"flake8" = "==3.4.1"
isort = "==4.2.15"
nose = "==1.3.7"
"pep8" = "==1.7.0"
selenium = "==3.4.3"

[packages]

"dj-database-url" = "==0.4.2"
django = "==2.0.0"
"django-timezone-field" = "==2.0"
djangorestframework = "==3.7.3"
"djangorestframework-jwt" = "==1.11.0"
gevent = "==1.2.2"
gunicorn = "==19.7.1"
pytz = "==2017.2"
raven = "==6.4.0"
whitenoise = "==v4.0b4"
"django-sendgrid-v5" = "*"
newrelic = "*"
"psycopg2" = "*"

[requires]
python_full_version = "3.6.2"