<div class="grid-container full">
  <div class="grid-x">
    <form #profileForm="ngForm" (submit)="profileFormSubmit()" class="medium-6 cell">
      <div>
        <label>Email
          <input
            id="email"
            name="email"
            type="email"
            tabindex="0"
            [(ngModel)]="model.email"
            #email="ngModel">
        </label>
      </div>
      <div>
        <label>First name
          <input
            id="firstName"
            name="firstName"
            type="text"
            tabindex="0"
            [(ngModel)]="model.firstName"
            #firstName="ngModel">
        </label>
      </div>
      <div>
        <label>Last name
          <input
            id="lastName"
            name="lastName"
            type="text"
            tabindex="0"
            [(ngModel)]="model.lastName"
            #lastName="ngModel">
        </label>
      </div>
      <div>
        <label>Timezone
          <app-timezone-picker
            id="timezone"
            name="timezone"
            class="timezone"
            [(ngModel)]="model.timezone"
            #timezone="ngModel">
          </app-timezone-picker>
        </label>
      </div>
      <div>
        <label>Wordcount target
          <input
            id="targetMilestoneWordCount"
            name="targetMilestoneWordCount"
            type="text"
            tabindex="0"
            [(ngModel)]="model.targetMilestoneWordCount"
            #targetMilestoneWordCount="ngModel">
          </label>
        </div>
      <div>
        <button
          type="submit"
          class="button primary expanded"
          tabindex="0"
          [disabled]="profileForm.form.pristine || !profileForm.form.valid">
          Update
        </button>
        <i class="fa fa-spinner fa-spin form-submit-spinner" aria-hidden="true" *ngIf="submitting"></i>
        <i class="fa fa-check form-submit-success" aria-hidden="true" *ngIf="success"></i>
      </div>
    </form>
  </div>
</div>
