<form [formGroup]="inviteAcceptanceFormGroup" (ngSubmit)="onSubmit()">
  <label>Username:</label>
  <input id="username" formControlName="username" type="text" placeholder="username" required>
  <ul class="form-errors">
    <li *ngIf="!(inviteAcceptanceFormGroup.get('username').pristine && inviteAcceptanceFormGroup.get('username').untouched) && inviteAcceptanceFormGroup.get('username').errors && inviteAcceptanceFormGroup.get('username').errors.required">Username is required.</li>
    <li *ngIf="!(inviteAcceptanceFormGroup.get('username').pristine && inviteAcceptanceFormGroup.get('username').untouched) && inviteAcceptanceFormGroup.get('username').errors && inviteAcceptanceFormGroup.get('username').errors.minlength">Username must be {{ USERNAME_MIN_LENGTH }} characters long.</li>
    <ng-template [ngIf]="apiErrors && apiErrors.username">
      <li *ngFor="let errorMessage of apiErrors.username">{{ errorMessage }}</li>
    </ng-template>
  </ul>
  <label>Password:</label>
  <input id="password" formControlName="password" type="password" placeholder="password" autocomplete="off" required>
  <ul class="form-errors">
    <li *ngIf="!(inviteAcceptanceFormGroup.get('password').pristine && inviteAcceptanceFormGroup.get('password').untouched) && inviteAcceptanceFormGroup.get('password').errors && inviteAcceptanceFormGroup.get('password').errors.required">Password is required.</li>
    <li *ngIf="!(inviteAcceptanceFormGroup.get('password').pristine && inviteAcceptanceFormGroup.get('password').untouched) && inviteAcceptanceFormGroup.get('password').errors && inviteAcceptanceFormGroup.get('password').errors.minlength">Password must be {{ PASSWORD_MIN_LENGTH }} characters long.</li>
    <ng-template [ngIf]="apiErrors && apiErrors.password">
      <li *ngFor="let errorMessage of apiErrors.password">{{ errorMessage }}</li>
    </ng-template>
  </ul>
  <button type="submit" class="button primary expanded" [disabled]="!inviteAcceptanceFormGroup.valid">
    {{ !submitted ? 'Complete signup' : '' }}
    <i class="fa fa-spinner fa-spin form-submit-spinner" aria-hidden="true" *ngIf="submitted"></i>
  </button>
  <ul class="form-errors">
    <ng-template [ngIf]="apiErrors">
      <li *ngFor="let errorMessage of apiErrors.nonFieldErrors">{{ errorMessage }}</li>
      <li *ngFor="let errorMessage of apiErrors.errors">{{ errorMessage }}</li>
    </ng-template>
  </ul>
</form>
