<form [formGroup]="inviteRequestFormGroup" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input id="email" name="email" type="email" placeholder="email" formControlName="email" autocomplete="on" required>
  <ul class="form-errors">
    <li *ngIf="!(inviteRequestFormGroup.get('email').pristine && inviteRequestFormGroup.get('email').untouched) && inviteRequestFormGroup.get('email').errors && inviteRequestFormGroup.get('email').errors.required">Email is required.</li>
    <li *ngIf="!(inviteRequestFormGroup.get('email').pristine && inviteRequestFormGroup.get('email').untouched) && inviteRequestFormGroup.get('email').errors && inviteRequestFormGroup.get('email').errors.email">Enter a valid email address.</li>
    <ng-template [ngIf]="apiErrors && apiErrors.email">
      <li *ngFor="let errorMessage of apiErrors.email">{{ errorMessage }}</li>
    </ng-template>
  </ul>
  <button
    type="submit"
    class="button primary expanded"
     [disabled]="!inviteRequestFormGroup.valid">
    {{ !submitted ? 'Submit' : '' }}
    <i class="fa fa-spinner fa-spin form-submit-spinner" aria-hidden="true" *ngIf="submitted"></i>
  </button>
  <ul class="form-errors">
    <ng-template [ngIf]="apiErrors">
      <li *ngFor="let errorMessage of apiErrors.nonFieldErrors">{{ errorMessage }}</li>
      <li *ngFor="let errorMessage of apiErrors.errors">{{ errorMessage }}</li>
    </ng-template>
  </ul>
</form>
