<div class="grid-container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <form #entryForm="ngForm">
        <textarea id="words" name="words" type="text" [(ngModel)]="model.words" #words="ngModel"></textarea>
      </form>
      <div>Date: {{ model.entryDate | amLocal | amDateFormat: 'YYYY-MM-DD' }} </div>
      <div>Word count: {{ model.countWords() }}</div>
      <div *ngIf="model.finishTime">Last saved: {{ lastSavedLocalString() }} {{ model.entryTimezone }}</div>
      <div *ngIf="model.milestoneTime">Milestone reached at: {{ milestoneTimeLocalString() }} {{ model.entryTimezone }}</div>
    </div>
  </div>
</div>
