<div class="grid-container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <h2 *ngIf="displayTitle">{{ entrySubj.entryDate | async }}</h2>
      <app-page-spinner id="page-loading" *ngIf="(initEntryStateSubj | async) < EntryServiceActionState.Complete"></app-page-spinner>

      <div id="entry-area" class="entry-area" *ngIf="(initEntryStateSubj | async) == EntryServiceActionState.Complete">
        <app-entry-form [(entryObs)]="entrySubj" [(formDisabled)]="entryFormDisabled" (entryUpdated)="onEntryUpdated($event)"></app-entry-form>
        <app-entry-drawer [(entryObs)]="entrySubj" [(updateEntryStateObs)]="updateEntryState"></app-entry-drawer>
      </div>

      <app-page-error id="page-error" *ngIf="(initEntryStateSubj | async) == EntryServiceActionState.Error"></app-page-error>
    </div>
  </div>
</div>
