@import '../../../../../assets/foundation-sites/settings';
@import '~foundation-sites/scss/foundation';

.c {
  display: flex;
  height: 100%;
  width: 100%;
}

.i {
  margin: auto;
}

@keyframes flickerAnimation {
  0%   { opacity: 1; }

  50%  { opacity: 0; }

  100% { opacity: 1; }
}

.spinner {
  animation: flickerAnimation 2s infinite;
}

.h2 {
  font-size: 24px;
}

.auth-alt-nav {
  font-size: 14px;
  margin-top: 30px;
  text-align: center;

  .cta {
    color: $success-color;
    font-size: 16px;
    font-weight: 600;
  }
}
