.c {
  display: flex;
  height: 100%;
  width: 100%;
}

.i {
  margin: auto;
}

@keyframes flickerAnimation {
  0%   { opacity: 1; }

  50%  { opacity: 0; }

  100% { opacity: 1; }
}

.spinner {
  animation: flickerAnimation 2s infinite;
}
