<div class="grid-container">
  <div class="grid-x">
    <div class="medium-12 cell text-center">
      <h2>Your invite to Daily Writing</h2>

      <div class="c" *ngIf="tokenCheckState == TokenCheckStates.InProgress">
          <div class="i">
            <div class="spinner">
              <svg width="41" height="48" viewBox="0 0 641 448">
                <path fill="currentColor" d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"></path>
              </svg>
            </div>
          </div>
        </div>
      <div *ngIf="tokenCheckState == TokenCheckStates.Complete && !inviteAccepted">
        <p>To accept your invite and create your account, please pick a username and password.</p>
        <app-invite-acceptance-form [(token)]="token" (inviteAccepted)="onInviteAccepted()"></app-invite-acceptance-form>
      </div>
      <div *ngIf="tokenCheckState == TokenCheckStates.Complete && inviteAccepted">
        <p>Thanks for accepting our invitation. You may now login via the form below.</p>
        <app-login-form></app-login-form>
      </div>
      <div *ngIf="tokenCheckState == TokenCheckStates.Error">
        <p *ngFor="let errorMessage of errors.errors">{{ errorMessage }}</p>
        <p>Already have account have an account? <a [routerLink]="'/login'">Login now</a>.</p>
        <p>Need an account? <a [routerLink]="'/signup'" >Request an invite</a>.</p>
      </div>
    </div>
  </div>
</div>
