<form #loginForm="ngForm"  (ngSubmit)="onSubmit()">
  <label for="username">Username:</label>
  <input id="username" name="username" type="text" placeholder="username" [(ngModel)]="model.username" #username="ngModel" autocomplete="on" required>
  <ul class="form-errors">
    <li [hidden]="username.valid || (username.pristine && username.untouched)">Username is required</li>
  </ul>
  <label for="password">Password:</label>
  <input id="password" name="password" type="password" placeholder="password" [(ngModel)]="model.password" #password="ngModel" autocomplete="off" required>
  <ul class="form-errors">
    <li [hidden]="password.valid || (password.pristine && password.untouched)">Password is required</li>
  </ul>
  <button type="submit" class="button primary expanded" [disabled]="!loginForm.form.valid">
    {{ submitted ? 'Loading' : 'Login' }}
    <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="submitted"></i>
  </button>
  <ul class="form-errors">
    <li [hidden]="!error">Username or password is incorrect.</li>
  </ul>
</form>
